/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('skibid.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

section p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
